<div class="row">
  <div class="col-lg-2 col-lg-offset-5">
    <%= form_for @redirection, html: { role: "form" } do |f| %>
      <div class="form-group">
        <%= f.label :route, "This Route" %>
        <span class="glyphicon glyphicon-arrow-right"></span>
        <%= f.text_field :route, class: "form-control" %>
      </div>

      <div class="form-group">
        <span class="glyphicon glyphicon-arrow-right"></span>
        <%= f.label :redirect, "will redirect to this other route" %>
        <%= f.text_field :redirect, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Create Redirection", class: "btn btn-default" %>
      </div>

    <% end %>
  </div>
</div>